.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.container h1 {
  color: var(--bg-color);
}

.container p {
  color: var(--bg-color);
}
