.bottom_navigation {
  display: none;
  justify-content: space-between;
}

.tab {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 376px) {
  .bottom_navigation {
    width: 100%;
    display: flex;
    background-color: red;
    position: fixed !important;
    bottom: 0;
  }
}
