@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;700&family=Roboto+Mono:wght@100;600&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw !important;
}

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Mono", sans-serif;
  --bg-color: #dde4eb;
  --footer-color: #a5abb3;
}

[data-theme="dark"] {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Mono", sans-serif;
  --bg-color: #272b30;
  --footer-color: #272b30;
}

body {
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font-secondary);
  height: 100%;
  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
} */
